---
import BaseLayout from "../layouts/BaseLayout.astro";
import { info } from "../data/info";
import ProjectCarousel from "../components/projects_section/ProjectCarousel";
import Contact from "../components/contact_section/Contact";
import About from "../components/about_section/About";
import Blog from "../components/post_section/Blog.astro";
import BookConsultation from "../components/about_section/VisitLuniv";
// import Subscribe from "../components/post_section/Subscribe";

import { Image } from "astro:assets";

const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout title="Home">
<section id="home" class="lg:h-screen lg:m-0 my-20 mx-2">
  <div class="flex flex-col lg:flex-row justify-center items-center h-full space-y-6 lg:space-y-0">

    <div class="flex flex-col items-center">
  <Image
    src={info.picture}
    alt={info.picture_alt}
    width={150}
    height={150}
    class="h-60 w-60 rounded-full object-fill object-center shadow-lg ring-4 ring-zinc-200 dark:ring-zinc-800"
  />

  <div class="flex items-center justify-center gap-2 mt-3">
    <div class="h-3 w-3 bg-green-700 rounded-full animate-pulse"></div>
    <p class="text-xs font-bold uppercase tracking-widest text-zinc-500 dark:text-zinc-400">
      Available for <a href="#contact" class="font-extrabold underline">work</a>
    </p>
  </div>
</div>


    <div class="flex flex-col lg:mx-8 leading-relaxed space-y-4 text-center lg:text-left">
      <h1 class="text-3xl lg:text-5xl font-bold font-serif">
        Hi, I'm 
        <span class="bg-clip-text animate-pulse typewriter underline decoration-zinc-500">
          {info.name}
        </span>
      </h1>

      <h2 class="text-text dark:text-dk-text">{info.brief_description}</h2>

      <p class="text-2xl">
        Based in 
        <span class="typewriter text-secondary underline decoration-zinc-500 dark:text-dk-secondary">
          {info.location}
        </span>
      </p>

      <div class="mt-8 space-y-3">
        <p class="text-xs font-bold uppercase tracking-widest text-zinc-500 dark:text-zinc-400">
          Featured On:
        </p>

        <div class="flex flex-wrap justify-center lg:justify-start items-center gap-6">
          <a
            href="https://news.ycombinator.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="group transition-transform hover:-translate-y-1"
          >
            <img
              src="/_hn.png"
              alt="Hacker News"
              class="transition-all"
              style="
                height: 120px;
                width: auto;
                filter: grayscale(100%);
                opacity: 0.6;
                position: relative;
                top: -50px;
                left: -5px;
              "
              onmouseover="this.style.filter='grayscale(0%)'; this.style.opacity='1';"
              onmouseout="this.style.filter='grayscale(100%)'; this.style.opacity='0.6';"
            />
          </a>
        </div>
      </div>
    </div>

  </div>
</section>


  <section
    class="flex flex-col mb-24 lg:flex-row justify-center items-center h-full space-y-4"
  >
    <BookConsultation />
  </section>
  <section class="lg:m-0
        my-20
        mx-2" id="about">
    <About about={info.about} client:visible />
  </section>
  <section
    class="lg:h-screen lg:m-0 my-20 mx-2 flex-col flex justify-center w-full"
    id="projects"
  >
    <ProjectCarousel projects={info.projects} client:only />
  </section>

  <section
    class="lg:h-screen lg:m-0 my-20 flex-col flex justify-center w-full"
    id="blog"
  >
    <Blog posts={allPosts} />
  </section>
  <!-- Subscribe Section -->
  <!-- <section class="mt-16">
    <Subscribe />
  </section> -->
  <section
    class="lg:h-screen lg:m-0 my-20 mx-2 flex-col flex justify-center w-full"
    id="contact"
  >
    <div class="flex flex-row justify-center items-center h-full space-y-4">
      <Contact contact={info.contact} size="lg" />
    </div>
  </section>
<section>
  <div>
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/luniv/let-s-chat?background_color=111827&text_color=ffffff" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
</div>
</section>
</BaseLayout>

<style>
  .typewriter {
    background: linear-gradient(to left, #3333ff, #efff15, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: animation 6s ease-in-out infinite;
    background-size: 400% 100%;
  }

  @keyframes animation {
    0%,
    100% {
      background-position: 0 0;
    }

    50% {
      background-position: 100% 0;
    }
  }

  /* Shadow effect shifting through the image: inspired by https://codepen.io/davidicus/pen/emgQKJ */
  .profile-pic {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 100%;
  }

  .profile-pic::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  .profile-pic:hover::before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
  }
  @-webkit-keyframes shine {
    100% {
      left: 125%;
    }
  }
  @keyframes shine {
    100% {
      left: 125%;
    }
  }
</style>
